# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

# run
usercache.json
usernamecache.json
options.txt
splash.properties
crash-reports
logs
.mixin.out
FBP
screenshots
stats
playerdata
advancements

