name: Qodana

on:
  workflow_run:
    workflows: ["Gradle Build"]
    types:
      - completed

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  qodana:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Qodana Composite
        uses: Red-Studio-Ragnarok/Qodana-Composite@main
        with:
          qodana_token: ${{ secrets.QODANA_TOKEN }}
